<div class="jumbotron">
  <h1>Welcome to PacMan!</h1>
  <p class="lead">
    <img src="images/iconmonstr-pie-chart-2-icon-256.png" alt="PacMan">
  </p>
  <p>
    Pacman crunches the numbers to optimize your operations.
  </p>
</div>

<hr class="half-rule">

<div class="row subcats text-center">
  <div class="col-sm-6" ng-click="go('/model')">
    <img src="images/iconmonstr-control-panel-10-icon-256.png" alt="" class="img-responsive center-block">
    <h2>Model</h2>
    <p>Build a predictive model that reflects your business. Use machine learning tech, the model will automatically adapt over time and give you deeper insight into your operations.</p>
  </div>
  <div class="col-sm-6" ng-click="go('/metrics')">
    <img src="images/iconmonstr-line-chart-4-icon-256.png" class="img-responsive center-block">
    <h2>Metrics</h2>
    <p>High-level dashboards based on metrics that matter the most. Compare your actual performance numbers to those predicted by the model and identify areas for improvement.</p>
  </div>
  <div class="col-sm-6" ng-click="go('/agents')">
    <img src="images/iconmonstr-user-10-icon-256.png" class="img-responsive center-block">
    <h2>Agents</h2>
    <p>Dive into agent productivity so you can track and measure the performance of your team. Extract actionable insight at both the aggregrate and the individual level.</p>
  </div>

  <div class="col-sm-6" ng-click="go('/customers')">
    <img src="images/iconmonstr-speech-bubble-15-icon-256.png" alt="" class="img-responsive center-block">
    <h2>Customers</h2>
    <p>Listen directly to what your customers are saying. Intuitely browse through issue clusters and conversation summaries to identify your strengths and weaknesses.</p>
  </div>
  <div class="col-sm-6" ng-click="go('/forecast')">
    <img src="images/iconmonstr-map-2-icon-256.png" alt="" class="img-responsive center-block">
    <h2>Forecast</h2>
    <p>Stay one step ahead of the rest of the business. Use historical trends, sales projections and external data to accurately estimate demand volumes.</p>
  </div> 
  <div class="col-sm-6" ng-click="go('/plan')">
    <img src="images/iconmonstr-code-fork-9-icon-256.png" alt="" class="img-responsive center-block">
    <h2>Plan</h2>
    <p>Be prepared for any possible scenario. Use the powerful simulation and planning tools to quantify the impact of volume spikes, new product launches, and more.</p>
  </div>  
</div>

<hr class="half-rule">

